<section>
    <form action="/user/create-user" method="post">
        <input type="email" name="email" placeholder="Enter Email" required><br>
        <input type="password" name="password" id="" placeholder="Enter Password" required><br>
        <input type="password" name="ConformPassword" id="" placeholder="Enter Conform Password" required><br>
        <button type="submit">Sign up</button>
    </form>
</section>